*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.container-Inicio-sesion{
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/img/fondo.jpeg");
  background-position: center;
  display: flex;
  justify-content: center;
  
  
  
}
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
  
}
.error{
  color: red;
}
.cardProductos {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.name {
  width: 100px;
  height: 50px;
  background-color: #424242;
  color: white;
  border-radius: 10%;

}

.name:hover {
  cursor: pointer;
}

.form .form_front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  background-color: #424242;
  
}
.logo{
  width: 50px;
  height: 50px;
  object-fit: contain;

}
.logo:hover{
  zoom: 1.1;
  cursor: pointer;
}

.form .form_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  padding: 55px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  background-color: #424242;
}

.form_details {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #DFAF67;
}

.input {
  width: 245px;
  min-height: 45px;
  color: #000000;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
}

.input::placeholder{
  color: #000000;
}

.input:focus.input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6),
  inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px #DFAF67;
}

.btn {
  padding: 10px 35px;
  cursor: pointer;
  background-color: #DFAF67;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
  
}

.btn:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6),
  inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form .switch {
  font-size: 13px;
  color: rgb(255, 255, 255);
  display: flex;
}

.form .switch .signup_tog {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  color: #DFAF67;
  margin-left: 10px;
}

.container-login  #signup_toggle {
  display: none;
}

.container-login  #signup_toggle:checked + .form {
  transform: rotateY(-180deg);



}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
:root {
  --clr-main: #424242;
  --clr-main-light: #DFAF67;
  --clr-white: #DFAF67;
  --clr-gray: #ffffff;
  --clr-red: #7c5252;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--clr-main);
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: var(--clr-white);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
  font-size: 1.3rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
  width: 100%;
}

.boton-menu.active {
  /* background-color: var(--clr-white);
  color: var(--clr-main); */
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}


.boton-menu-carrito{
  margin-top: 2rem;;
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
  width: 100%;
}

.numerito {
  background-color: white;
  color:#DFAF67;
  padding: .15rem .25rem;
  border-radius: .25rem;
}

.boton-carrito.active .numerito {
  background-color: var(--clr-main);
  color: var(--clr-white);
}

.texto-footer {
  color: var(--clr-main-light);
  font-size: .85rem;
}

.contenedor-main {
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal {
  color: var(--clr-main);
  margin-bottom: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color: var(--clr-main);
  color: var(--clr-white);
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  background-color: var(--clr-white);
  color: var(--clr-main);
  padding: .4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--clr-white);
  transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
  background-color: var(--clr-main);
  color: var(--clr-white);
}


/* CARRITO */

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--clr-main);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: .75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--clr-main);
  padding: 1rem;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header-mobile {
  display: none;
}

.close-menu {
  display: none;
}

.disabled {
  display: none;

}

.logo-crear-productos{
  width: 70%;
  height: 70%;
  object-fit: cover;
}